@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Outfit', 'Hind Siliguri', ui-sans-serif, system-ui, sans-serif;
    --font-serif: 'Playfair Display', 'Hind Siliguri', serif;
    --color-pa-red: #C0122B;
}
